@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-blue-train: #0578ff;
    --primary-black-train: #202020;
    --white: #fff;
    --primary-grey: #90a3bf;
    --primary-black-train-50: rgba(32, 32, 32, 0.5);
    --primary-grey-50: rgba(144, 163, 191, 0.5);
    --good-yellow: #ffc501;
    --bg-gray: #f5f5f5;
    --green: #43a047;
    --red: #ff6060;
    --primary-blue-train-10: rgba(5, 120, 255, 0.1);
    --semantic-colors-primary,-contrast: #fff;
    --primary-black: #202020;
    --primary-blue: #0578ff;
    --secondary-text: rgba(27, 43, 65, 0.69);
    --semantic-colors-primary: #006af5;
    --primary-black-50: rgba(32, 32, 32, 0.5);
}

:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: var(--primary-black-train);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 64px;
}

h2 {
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

h3 {
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;

}

label {
    font-weight: 600;
}

p {
    color: var(--primary-black-train);
    font-family: 'poppins', sans-serif;
    font-size: 16px;

}

/*HEADER STYLE*/
.header {
    background-color: var(--primary-blue-train-10);
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-logo-name {
    color: var(--primary-black-train);
    font-size: 34px;
}

.header-nav {
    display: flex;
    max-width: 610px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-nav a {
    font-size: 20px;
    text-decoration: none;
    color: var(--primary-black-train);
}

.header-container {
    display: flex;
    max-width: 1440px;
    justify-content: space-between;
    align-items: center;
    padding: 32px 64px;
    margin: auto;
}

/*MAIN HERO*/
.hero {
    background-color: var(--primary-blue-train-10);
}

.hero-container {
    display: flex;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    padding: 64px 64px 128px;
}

.hero-image {
    display: flex;
    justify-content: center;
    width: 640px;
    height: 704px;
}

.hero-frame {
    width: 640px;
}

.hero-frame-h {
    margin-bottom: 32px;
}

.hero-frame-p {
    margin-bottom: 32px;
}

.trip-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: var(--white);
    padding: 0px 24px;
    font-size: 14px;
    height: 34px;
    margin-bottom: 24px;
}

.passenger-counter {
    display: flex;
    align-items: center;
}

.passenger-number {
    color: var(--primary-black-train);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 24px;
    height: 22px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.passenger-button {
    font-size: 20px;
    background-color: var(--white);
    border: none;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.departure-arrival {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 89px 89px;
    margin-bottom: 24px;
    gap: 32px;
}


.departure-input {
    border-radius: 10px;
    border: none;
    height: 53px;
    width: 304px;
    margin-top: 16px;
}

.arrival-input {
    border-radius: 10px;
    border: none;
    height: 53px;
    width: 304px;
    margin-top: 16px;
}

.depart-input {
    border-radius: 10px;
    border: none;
    height: 53px;
    width: 304px;
    margin-top: 16px;
}

.return-input {
    border-radius: 10px;
    border: none;
    height: 53px;
    width: 304px;
    margin-top: 16px;
}


.hero-button {
    background-color: var(--primary-blue-train);
    border-radius: 10px;
    color: var(--white);
    font-weight: bold;
    font-size: 20px;
    padding: 16px 220px;
    max-width: 640px;
    max-height: 62px;
    border: none;
    display: flex;
    align-items: center;
}

/*MAIN-FACTS*/
.facts {
    background-color: var(--primary-blue-train);
}

.facts-container p {
    color: var(--white);
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.facts-container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    align-items: center;
    margin: auto;
    padding: 60px 64px;
}

.fact {
    text-align: center;
}

/*MAIN-IMAGES*/
.glimpses {
    background-color: var(--primary-blue-train-10);
}

.glimpses-container {
    padding: 128px 64px;
    margin: auto;
    max-width: 1440px;
}

.glimpses-container-h {
    margin-bottom: 24px;
}

.glimpses-images {
    display: flex;
    justify-content: space-between;
}

.images1 {
    display: grid;
    grid-template-columns: 528px;
    grid-template-rows: 376px 376px;
    gap: 24px;
}

.images1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.images2 {
    display: grid;
    grid-template-columns: 305px 416px;
    grid-template-rows: 489px 264px;
    gap: 24px 32px;
}

.images2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image5 {
    grid-column-start: 1;
    grid-column-end: 3;
}

/*MAIN-APPS*/
.apps {
    background-color: var(--good-yellow);
}

.apps-container {
    max-width: 1440px;
    margin: auto;
    padding: 122px 288px;
    text-align: center;
}

.apps-container-h {
    margin-bottom: 60px;
}

.apps-images {
    display: flex;
    justify-content: space-between;
}

/*MAIN-FAQ*/
.faq {
    background-color: var(--white);
}

.faq-container-h {
    margin-bottom: 40px;
}

.faq-container {
    max-width: 1440px;
    margin: auto;
    padding: 128px 177px 248px 177px;
}

details {
    /*border: 1px solid #aaaaaa;*/
    /*border-radius: 4px;*/
    /*padding: 0.5em 0.5em 0;*/
}

summary {
    font-weight: 500;
    font-size: 18px;
    /*margin: -0.5em -0.5em 0;*/
    /*padding: 0.5em;*/
}

details[open] {
    /*padding: 0.5em;*/
}

details[open] summary {
    /*border-bottom: 1px solid #aaaaaa;*/
    /*margin-bottom: 0.5em;*/
}

/*FOOTER-CONTACT*/
.contact-container {
    background-color: var(--primary-blue);
    display: flex;
    justify-content: center;
}

.contact {
    background-color: var(--white);
    border-radius: 10px;
    border: 1px solid black;
    width: 640px;
    text-align: center;
    padding: 60px 0px;
    position: relative;
    bottom: 120px;
}
.contact-h {
    margin-bottom: 20px;
}
.contact-number {
    font-size: 28px;
}

.contact-mail {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-adress {
    font-size: 18px;
}

/*FOOTER-LOGO-NAV*/
.footer {
    background-color: var(--primary-blue);
}

.footer-container {
    display: flex;
    max-width: 1440px;
    margin: auto;
    justify-content: space-between;
    padding: 64px 64px 40px 64px;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 51px;
}

.footer-logo-name {
    color: var(--white);
    font-size: 34px;
}

.footer-nav-container {
    display: flex;
    justify-content: space-between;
    width: 640px;
}

.footer-nav-container nav {
    width: 192px;
}

nav h3 {
    margin-bottom: 24px;
}

ul {
    list-style-type: none;
}

ul a {
    color: var(--white);
    text-decoration: none;
    line-height: 3;
}

.footer-copyright {
    padding: 0px 978px 76px 64px;
    max-width: 1440px;
    margin: auto;
}

.footer-copyright p {
    color: var(--white);
    font-weight: 500;
    text-wrap: nowrap;
}