@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --primary-blue-train: #0578ff;
    --primary-black-train: #202020;
    --white: #fff;
    --primary-grey: #90a3bf;
    --primary-black-train-50: rgba(32, 32, 32, 0.5);
    --primary-grey-50: rgba(144, 163, 191, 0.5);
    --good-yellow: #ffc501;
    --bg-gray: #f5f5f5;
    --green: #43a047;
    --red: #ff6060;
    --primary-blue-train-10: rgba(5, 120, 255, 0.1);
    --semantic-colors-primary,-contrast: #fff;
    --primary-black: #202020;
    --primary-blue: #0578ff;
    --secondary-text: rgba(27, 43, 65, 0.69);
    --semantic-colors-primary: #006af5;
    --primary-black-50: rgba(32, 32, 32, 0.5);
}

:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: var(--primary-black-train);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 64px;
}

h2 {
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 50px;
}

h3 {
    color: var(--white);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
}

label {
    font-weight: 600;
    text-wrap: nowrap;
}

p {
    color: var(--primary-black-train);
    font-family: 'poppins', sans-serif;
    font-size: 16px;
}

.container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding: 0 64px;
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
        width: 100%;
        padding: 0 32px;
    }
}

@media (max-width: 450px) {
    .container {
        max-width: 360px;
        width: 100%;
        padding: 0 16px;
    }
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 40px;
    }

}

/*HEADER STYLE*/
.header {
    background-color: var(--primary-blue-train-10);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    gap: 16px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header-logo-name {
    color: var(--primary-black-train);
    font-size: 34px;
}

.header-nav {
    display: flex;
    max-width: 610px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header-nav a {
    font-size: 20px;
    text-decoration: none;
    color: var(--primary-black-train);
}

.header-nav a:nth-child(4) {
    font-weight:600;
}

/*БУРГЕР МЕНЮ*/
.burger {
    display: none;
}

.burger-menu {
    display: none;
    position: relative;
    width: 30px;
    height: 24px;
    border: none;
    background: none;
}

.burger-menu span {
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: var(--primary-blue-train);
    left: 0;
    transition: transform .5s, opacity .5s;
}

.burger-menu span:nth-child(2) {
    transform: translateY(10px);
    width: 16px;
}

.burger-menu span:nth-child(3) {
    transform: translateY(20px);
}

.burger.open .burger-menu span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.burger.open .burger-menu span:nth-child(2) {
    opacity: 0;
}

.burger.open .burger-menu span:nth-child(3) {
    transform: translateY(10px) rotate(-45deg);
}

.menu.open {
    overflow: hidden;
}

@media (max-width: 768px) {
    .header-nav {
        display: none;
    }
    .burger-menu {
        display: flex;
    }
    .burger {
        display: block;
    }
    .burger-nav {
        display: flex;
        flex-direction: column;
        background-color: var(--primary-blue-train);
        position: absolute;
        z-index: 1001;
        top: 116px;
        left: -100%;
        width: 100%;
        height: 100%;
    }
    .burger-nav a {
        font-size: 48px;
        text-decoration: none;
        color: var(--white);
        padding: 96px 32px 0 32px;
    }
    .burger.open .burger-nav {
        left: 0;
    }
}

@media (max-width: 450px) {
    .header-logo-name{
        display: none;
    }
    .burger-nav a {
        font-size: 32px;
        padding: 64px 16px 0 16px;
    }
}

/*MAIN HERO*/
.hero {
    background-color: var(--primary-blue-train-10);
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 128px;
}

.hero-image {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.hero-image img {
    width: 100%;
    height: 100%;
}

.hero-frame {
    max-width: 640px;
    width: 100%;
}

.hero-frame-h {
    margin-bottom: 32px;
}

.hero-frame-p {
    margin-bottom: 32px;
}

.trip-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 640px;
    width: 100%;
    border-radius: 10px;
    background-color: var(--white);
    padding: 0 24px;
    font-size: 14px;
    height: 34px;
    margin-bottom: 24px;
    font-weight: 500;
}

.trip-options label, .trip-options input {
    cursor: pointer;
    font-weight: 400;
}

.trip-options label {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: space-between;
}

.passenger-counter {
    display: flex;
    align-items: center;
    max-width: 88px;
    justify-content: space-between;
    width: 100%;
}

.passenger-number {
    color: var(--primary-black-train);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    width: 24px;
    height: 22px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.passenger-button {
    cursor: pointer;
    font-size: 20px;
    background-color: var(--white);
    border: none;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.passenger-button:hover {
    color: var(--primary-blue-train);
}

.departure-arrival {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-bottom: 24px;
    gap: 32px;
}


.departure-input {
    border-radius: 10px;
    border: none;
    height: 53px;
    max-width: 304px;
    width: 100%;
    margin-top: 16px;
    padding: 0 24px;
}

.arrival-input {
    border-radius: 10px;
    border: none;
    height: 53px;
    max-width: 304px;
    width: 100%;
    margin-top: 16px;
    padding: 0 24px;
}

.depart-input {
    border-radius: 10px;
    border: none;
    height: 53px;
    max-width: 304px;
    width: 100%;
    margin-top: 16px;
    padding: 0 24px;
}

.return-input {
    border-radius: 10px;
    border: none;
    height: 53px;
    max-width: 304px;
    width: 100%;
    margin-top: 16px;
    padding: 0 24px;
}

.suggestions-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-radius: 10px;
    margin-top: 12px;
    padding: 5px 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
    list-style: none;
}

.suggestions-list li {
    padding: 10px 24px;
    cursor: pointer;
    border-radius: 12px;
    font-size: 14px;
}

.departure, .arrival {
    position: relative;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

.suggestions-list::-webkit-scrollbar {
    width: 6px;
}

.hero-button {
    background-color: var(--primary-blue-train);
    border-radius: 10px;
    color: var(--white);
    font-weight: bold;
    font-size: 20px;
    padding: 16px 0;
    max-width: 640px;
    width: 100%;
    justify-content: center;
    border: none;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
}

.hero-button:hover {
    cursor: pointer;
}

@media (max-width: 768px) {
    .hero-image {
        display: none;
    }
}

@media (max-width: 450px) {
    .hero-frame-p {
        font-size: 11px;
    }
    .trip-options {
        font-size: 12px;
        padding: 0 8px;
    }
    .departure-arrival {
        grid-template-columns: 1fr;
        br {display: none;}
        gap: 24px;
    }
    .return-input {
        margin-top: 0;
    }
    .hero-container {
        padding-top: 24px;
    }

    .departure-input {
        max-width: 328px;
    }
    .arrival-input {
        max-width: 328px;
    }
    .depart-input {
        max-width: 328px;
    }
    .return-input {
        max-width: 328px;
    }
}

/*MAIN-FACTS*/
.facts {
    background-color: var(--primary-blue-train);
}

.facts-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    flex-wrap: wrap;
}

.facts-container p {
    color: var(--white);
    font-family: 'poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.fact {
    text-align: center;
}

@media (max-width: 768px) {
    .facts-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 506px;
        width: 100%;
        margin: 0 auto;
        gap: 48px;
    }
}

@media (max-width: 450px) {
    .facts-container p {
        font-size: 16px;
        text-wrap: nowrap;
    }
    .facts-container {
        padding: 30px 0;
    }
}

/*MAIN-IMAGES*/
.gallery {
    background-color: var(--primary-blue-train-10);
}

.gallery-container {
    padding: 128px 0;
}

.gallery-container-h {
    margin-bottom: 24px;
}

.gallery-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
}

.images1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr 1fr;
    gap: 24px;
}

.images1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.images2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 24px 32px;
}

.images2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image5 {
    grid-column-start: 1;
    grid-column-end: 3;
}

@media (max-width: 768px) {
    .gallery-images {
        gap: 24px;
        grid-template-columns: 1fr;
    }
    .images2 {
        gap: 24px 24px;
    }
}

@media (max-width: 450px) {
    .images1 {
        gap: 12px;
    }
    .images2 {
        grid-template-columns: 1fr;
        gap: 12px;
    }
    .image5 {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .gallery-container {
        padding: 64px 0;
    }
}

/*MAIN-APPS*/
.apps {
    background-color: var(--good-yellow);
}

.apps-container {
    padding: 122px 0;
    text-align: center;
}

.apps-container-h {
    margin-bottom: 60px;
}

.apps-images {
    display: flex;
    max-width: 863px;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .apps-container-h {
        font-size: 40px;
    }
    .apps-images {
        display: grid;
        max-width: 462px;
        width: 100%;
        grid-template-columns: repeat(2, minmax(150px, 1fr));
        grid-template-rows: auto auto;
        grid-template-areas:"top top" "left right";
        justify-items: center;
        align-items: center;
        gap:32px;
    }
    .apps-images img:nth-child(1) { grid-area: top; }
    .apps-images img:nth-child(2) { grid-area: left; }
    .apps-images img:nth-child(3) { grid-area: right; }
}

@media (max-width: 450px) {
    .apps-images {
        display: flex;
        flex-direction: column;
    }
    .apps-container-h {
        font-size: 32px;
        margin-bottom: 30px;
    }
    .apps-container {
        padding: 32px 0;
    }
}

/*MAIN-FAQ*/
.faq {
    background-color: var(--white);
}

.faq-container {
    max-width: 1086px;
    width: 100%;
    margin: 0 auto;
    padding: 128px 0 248px 0;
}

.faq-container-h {
    margin-bottom: 40px;
}

summary::marker {
    content: ""
}

summary::after {
    content: "\2715";
    color: var(--primary-black);
    font-size: 16px;
    font-weight: 700;
    transform: rotate(45deg);
}

details[open] summary::after {
    content: "\2715";
    transform: rotate(0deg);
}

summary {
    font-weight: 500;
    font-size: 18px;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
}

details p{
    padding: 16px 0;
}

@media (max-width: 450px) {
    .faq-container {
        padding: 64px 0 184px 0;
    }
}

/*FOOTER-CONTACT*/
.contact {
    background-color: var(--primary-blue);
}

.contact-container {
    background-color: var(--white);
    border-radius: 10px;
    border: 1px solid black;
    max-width: 640px;
    width: 100%;
    text-align: center;
    padding: 60px 0;
    position: relative;
    bottom: 120px;
    margin: 0 auto;
}
.contact-h {
    margin-bottom: 20px;
}
.contact-number {
    font-size: 28px;
}

.contact-mail {
    font-size: 28px;
    margin-bottom: 20px;
}

.contact-adress {
    font-size: 18px;
}

@media (max-width: 768px) {
    .contact-container {
        max-width: 464px;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .contact-number, .contact-mail {
        font-size: 20px;
    }
}

/*FOOTER-LOGO-NAV*/
.footer {
    background-color: var(--primary-blue);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 64px 0 40px 0;
    flex-wrap: wrap;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 15px;
    height: 51px;
    margin-bottom: 40px;
}

.footer-logo-name {
    color: var(--white);
    font-size: 34px;
}

.footer-nav-container {
    display: flex;
    justify-content: space-between;
    max-width: 640px;
    width: 100%;
    flex-wrap: wrap;
}

.footer-nav-container nav {
    max-width: 192px;
    width: 100%;
}

nav h3 {
    margin-bottom: 24px;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 31px;
}

ul a {
    color: var(--white);
    text-decoration: none;
}

.footer-copyright {
    padding: 0 0 76px 0;
}

.footer-copyright p {
    color: var(--white);
    font-weight: 500;
    text-wrap: wrap;
}

@media (max-width: 450px) {
    .footer-nav-container nav {
        max-width: 140px;
        width: 100%;
    }
    .footer-copyright {
        padding: 0 0 64px 0;
    }
}